@font-face { font-family: 'karmatic_arcade';
             src: url('ka1.ttf') format('truetype'); }

button{
  padding: 20px 10px;
  background-color: #333333;
  border: none;
  color: white
}

button:hover{
  color: #ff6400
}
#toggleableDiv{
  position:fixed;
  top: 64px;
  background-color: #777777;
  z-index: 999;
}

#liA{
  border-width: 5px;
  border-radius: 5px;


}
label{
  color: white
}
